@keyframes slide-down {
    from {top: -100vw;}
    to {top: 0vw;}
  }

.sidebar{
    z-index: 1;
    position: fixed;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100rem;
    background-color: rgb(23, 23, 54);
    border-radius: 10px;
    animation-name: slide-down;
    animation-duration: 0.5s;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.sidebar-close{
    display: sticky;
    color: white;
    float: right;
    margin-right: 10px;
    top: 5px;
    font-size: 28px;
    font-weight: bolder;
}

.sidebar-close:hover{
    color: black;
    cursor: pointer;
}

.logo, .icon-logo{
    display: inline;
}

.icon-logo{
    position: relative;
    margin-left: 15px; 
    top: 7px;
}

.logo{
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: larger;
    text-wrap: wrap;
    border-bottom: 1px solid white;
}

.divider{
    box-sizing: border-box;
    width: 100%;
    height: 25px;
}

.field {
    position: relative;
    margin: auto;
}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
    outline: none;
}

.textInputWrapper:focus-within .textInput,
.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
background-color: #353535;
}
  
.textInputWrapper:focus-within .textInput::placeholder {
opacity: 0;
}
  
input{
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    appearance: auto;
    cursor: text;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    border: 0;
    border-radius: 5px;
    background-color: rgb(32, 32, 32);
    color: white;
    height: 35px;
    width: 50px;
}

#input-1{
    margin-left: 80px;
}

#input-1:focus, #input-2:focus{
    background-color: #353535;
}

::placeholder{
    color:gray;
}

.sidebar-data:hover{
    color: rgb(211, 211, 211);
    cursor: pointer;
}

.active{
    color: white
}

.hidden{
    position: relative;
    top: 75px;
    box-sizing: border-box;
    height: 1px;
}

@media (max-height:800px){

    .dataset-wrapper{
        padding: 5px;
        height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: white rgb(32, 32, 32);
        scrollbar-width: thin;
        border: 1px solid white;
        border-radius: 2px;
        background-color: rgb(22, 22, 22);
    }   
    
}